@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #508345;
    --hover: #307234;
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px -9px rgba(66, 68, 90, 1);
}

.container {
    position: relative;
}

.w {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1600px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--loadFiles {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loadFiles__header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 45px;
}

.loadFiles__inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
}

.loadFiles__inputWrapper > span {
    font-size: 16px;
    text-align: center;
    padding-bottom: 45px;
}

.loadFiles__input {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 3px dashed var(--primary);
    color: transparent;
    position: relative;
}

.loadFiles__input::after {
    content: "+";
    cursor: pointer;
    font-size: 120px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.loadFiles__input:hover::after {
    font-size: 140px;
}

.btn {
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s all;
}

.btn:hover {
    background: var(--hover);
}

.btn--loadFiles {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;
}

.correlation__viewPicker {
    width: 80%;
    margin: 0 auto 30px;
}

.btn--correlationViewPicker {
    background: transparent;
    border-bottom: 2px solid #dddddd;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    font-size: 21px;
    width: 30%;
    margin-top: 40px;
}

.btn--correlationViewPicker--current {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
}

.btn--correlationViewPicker:hover {
    background: transparent;
    color: var(--primary);
}

.sheet {
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    overflow: scroll;
    border: 1px solid var(--primary);
}

.sheet__table {
    table-layout: fixed;
    /*width: calc(100% - 15px);*/
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1002;
    background: #fff;
}

.sheet__table td {
    text-align: center;
    padding: 5px;
    border: 1px solid var(--primary);
}

.line {
    position: relative;
    white-space: nowrap;
}

.check__cell,
.sheet__header__cell {
    font-weight: 700;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: relative;
}

.sheet__header__cell {
    background: #fff;
}

.line > .sheet__header__cell,
div.check__cell {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid var(--primary);
    border-right: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line > .sheet__header__cell {
    overflow: hidden;
}

.line > .sheet__header__cell,
div.check__cell {
    border-right: none;
    border-bottom: none;
}

.check__cell {
    background: #fff;
}

.line > .sheet__header__cell:first-of-type,
div.check__cell:first-of-type {
    border-left: none;
}

.sheet__body__row {
    width: 100%;
    padding-right: 37%;
    white-space: nowrap;
    position: relative;
}

.sheet__body__row__cell {
    position: relative;
    border: 1px solid var(--primary);
    height: 50px;
    width: 200px;
    white-space: normal;
    overflow: scroll;
    display: inline-flex;
    vertical-align: top;
}

.sheet__body__row__cell::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sheet__header--relation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.check__cell--relation,
.sheet__header__cell--relation,
.sheet__body__row__cell--relation {
    width: 400px;
    position: sticky;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 3;
    background: var(--primary);
    color: #fff;
}

.sheet__body__row__cell--relation {
    z-index: 1000;
    background: #fff;
    border-left: 2px solid var(--primary);
    overflow: visible !important;
}

.check__cell--relation {
    background: var(--primary);
    height: 30px !important;
    top: unset;
    bottom: 0;
}

.check__cell--relation::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    border-left: 1px solid var(--primary);
    background: var(--primary);
}

.sheet__body__row__cell {
    border-right: none;
}

.check__cell--first,
.sheet__header__cell--first,
.sheet__body__row__cell--first {
    max-width: 8% !important;
    min-width: 0 !important;
}

.sheet__table__info {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    position: relative;
}

.sheet__table__info:first-of-type {
    border-bottom: 1px solid var(--primary);
}

.btn--check {
    background: transparent;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid var(--primary);
    position: relative;
    margin: auto;
    padding: 0;
}

.btn--check:hover {
    background: #dedede;
}

.btn--check--selected::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: var(--primary);
    border-radius: 3px;
}

table .cell--legend {
    text-align: left;
    font-weight: 700;
}

.btn--selectAll {
    background: transparent;
    color: var(--primary);
    font-weight: 500;
    font-size: 14px;
    margin: 0 15px;
    display: inline-block;
}

.btn--selectAll:hover {
    background: transparent;
    text-decoration: underline;
}

.btn--selectAll:first-of-type {
    margin-left: 30px;
}

.scroll {
    overflow-y: scroll !important;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #C1DCFF;
}

.scroll::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
.scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 33px none #ffffff;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
.scroll::-webkit-scrollbar-thumb:active {
    background: var(--hover);
}
.scroll::-webkit-scrollbar-track {
    background: #dedede;
    border: 49px none #dedede;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

table, table * {
    background: #fff;
}

.btn--export,
.btn--autoMatch {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin: 20px auto;
}

.btn--remove {
    background: red;
    width: 100px;
    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 3px;
}

.btn--remove:hover {
    background: #ed1111;
}

.sheetLoaded {
    width: 300px;
    height: 300px;
    border: 2px solid var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.sheetLoaded__text {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.btn:disabled {
    opacity: .75;
    pointer-events: none;
    cursor: default;
}

.sheetWrapper .sheet {
    max-height: 70vh;
}

.modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
}

.modal__inner {
    width: 490px;
    height: 80vh;
    overflow-y: auto;
    padding: 30px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 400px;
}

.modal__header {
    margin: 20px 0;
}

.modal__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;
    cursor: pointer;
}

.modal__label .btn--check {
    margin-right: 15px;
}

.modal__label--disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
}

.btn--addPriority {
    background: transparent !important;
    width: auto;
    margin: 10px 0;
    height: 40px;
    font-size: 21px;
    color: grey;
    flex-basis: 100%;
    padding: 5px 15px 5px 5px;
    border-bottom: 1px solid grey;
    text-align: left;
    max-height: 40px;
    opacity: .65;
    font-weight: 400;
    justify-content: flex-start;
}

.btn--addPriority:hover {
    opacity: 1;
}

.btn--deleteCondition,
.btn--addCondition {
    text-decoration: underline;
    background: transparent !important;
    color: var(--primary);
    font-weight: 500;
    margin: 15px 0;
    font-size: 15px;
}

.btn--deleteCondition {
    color: red;
    margin: 5px 0 5px 15px;
}

.btn--deleteCondition:hover {
    opacity: .8;
}

.priorities__item {
    margin: 15px 0;
    border: 2px solid var(--primary);
    padding: 15px;
    position: relative;
}

.btn--deletePriority {
    background: red;
    font-size: 21px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 3;
}

.btn--deletePriority:hover {
    background: #dd1111;
}

.priorities__item__condition {
    margin: 15px 0 15px 15px;
}

.priorities__item__condition__text {
    margin: 15px 0 8px;
    font-size: 15px;
}

.priorities__item__condition__operator {
    margin: 22px 0 22px 15px;
    font-size: 15px;
}

select,
option {
    padding: 5px 3px;
}

.select--logicalOperator {
    border: 2px solid var(--primary);
    margin-left: 15px;
    font-size: 15px;
}

.priorities__item__condition__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal__info {
    font-size: 14px;
    margin: 15px auto;
    text-align: center;
}

.btn--startAutoMatch {
    padding: 15px;
    border-radius: 60px;
    margin: 10px auto 0;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__inner > .center {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.center .center__header {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.select__btn {
    width: 100%;
    padding: 3px 10px;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.select__btn:active,
.select__btn:focus {
    border: none;
    outline: none;
}

.select__btn__currentValue {
    font-size: 14px;
}

.select__btn__img {
    width: 20px;
    height: auto;
    margin-left: 15px;
}

.select__menu {
    position: absolute;
    bottom: 0;
    height: auto;
    z-index: 100;
    border: 1px solid #313131;
    width: calc(100% - 30px);
    margin: auto;
    left: 50%;
    transform: translate(-50%, 100%);
    max-height: 200px;
    overflow-y: scroll;
    background: #fff;
}

.select__menu__item {
    cursor: pointer;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #313131;
    transition: .2s all;
}

.select__menu__item:disabled {
    opacity: .4;
    cursor: default;
}

.select__menu__item * {
    background: transparent;
}

.select__menu__item:not(:disabled):hover {
    background: #dedede;
}

.select__menu__item__value {
    font-size: 14px;
    width: 80%;
    color: #313131;
}

.select__menu__item__similarity {
    width: 19%;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.select__menu__item__similarity__info {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background: blue;
    color: #fff;
    padding-top: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 10px;
}

.select__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #313131;
    padding: 20px 5px 5px;
    outline: none;
}

.select__input:focus,
.select__input:active {
    border-bottom: 2px solid var(--primary);
}

.btn--export {
    margin: 0 auto 30px;
}

.line--exportLegend {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}

.sheet__table > .line:last-of-type .sheet__header__cell,
.check__cell--borderBottom {
    border-bottom: 1px solid var(--primary) !important;
}

.priorities__item__condition__select {
    max-width: 300px;
}

.btn--closeModal {
    background: transparent !important;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--modalConfirm {
    border-radius: 5px;
    width: 200px;
    height: 50px;
    min-height: 50px;
    margin: 30px auto;
}

.modal__inner__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    border-bottom: 1px solid var(--primary);
}

.modal__inner__column__name {
    padding-right: 25px;
    font-size: 16px;
    display: block;
    max-width: calc(100% - 70px);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.modal__inner__columns {
    margin: 50px auto;
    width: 100%;
}

.modal__inner__columns .btn--check {
    margin: 0;
}

.modal__header--center {
    margin: 0 auto;
    text-align: center;
}

.modal__inner--columnsSettings {
    max-height: 80vh;
    height: auto;
}

.btn--selectAll--modal {
    margin: 20px auto 0 !important;
}

.disclaimer {
    white-space: normal;
    position: relative;
    padding: 0 10px;
    margin: 20px auto;
}

.disclaimer > span {
    display: block;
    margin-top: 0;
    color: red;
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 100;
    font-weight: 700;
}

.sheet__tooltip {
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 11px;
    border-radius: 50%;
    background: #fff;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sheet__header__cell--relation {
    overflow: visible !important;
    z-index: 11;
}

.btn--notVisible {
    opacity: 0 !important;
}

.modal__additionalOptions {
    margin: 30px 0;
}

.modal__additionalOptions label {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.label--marginLeft {
    margin-left: 25px;
}

.modal__additionalOptions label .btn--check {
    min-width: 20px;
    margin-right: 15px;
}

.modal__additionalOptions .label .btn--check {
    border-radius: 50%;
}

.modal__slider {
    width: 100%;
}

.horizontal-slider {
    background: transparent;
}

.track {
    height: 10px;
    background: #dedede;
}

.thumb {
    width: 20px;
    height: 20px;
    background: var(--primary);
    border-radius: 50%;
    transform: translateY(-5px);
}

.modal__slider__value {
    margin-top: 30px;
    font-size: 32px;
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__top > *:first-child {
    margin-right: 30px;
}

.modal--testConfiguration {
    z-index: 10001;
}

.btn--openTestConfigurationModal {
    background: transparent !important;
    color: grey;
    text-decoration: underline;
    font-size: 12px;
    white-space: nowrap;
}

.btn--openTestConfigurationModal:hover {
    opacity: .7;
}

.sheet__header__cell__sort {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 10;
}

.btn--removeSorting,
.btn--sortColumn {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background: #fff;
    transition: .2s all;
}

.btn--sortColumn {
    opacity: .4;
}

.btn--sortColumn--active {
    opacity: 1;
}

.btn--sortColumn .img {
    width: 100%;
    height: auto;
}

.btn--removeSorting {
    background: red;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    border-radius: 50%;
    transform-origin: center;
}

.btn--removeSorting:hover {
    transform: scale(1.1);
}

.img--rotate {
    transform: rotateX(180deg);
    transform-origin: center;
}

.btn--sortRelation {
    background: transparent;
    text-decoration: underline;
    position: absolute;
    top: -16px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: .2s all;
}

.btn--sortRelation:hover {
    opacity: 1;
}

.btn--sortRelation--right {
    left: unset;
    right: 10px;
}

.btn--sortRelation--current {
    font-weight: 700;
    opacity: 1;
}

.input--matchThreshold {
    color: var(--primary);
    font-size: 32px;
    font-weight: 700;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--primary);
    padding: 10px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-align: center;
    outline: none !important;
}

.input--matchThreshold:active,
.input--matchThreshold:focus {
    border-bottom-width: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.priorities__item__condition__search {
    margin: 10px 0;
    width: 100%;
    display: block;
}

.input--search {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
    padding: 0 0 3px;
}

.noOptions {
    font-size: 13px;
    color: red;
    padding: 10px 0;
}

.priorities__item__condition__search {
    position: relative;
}

.priorities__item__condition__search::after {
    content: "";
    background-image: url("../img/search-icon.svg");
    background-size: 100%;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.input--search {
    padding-left: 18px;
}
